@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "BasisGrotesque";
  font-weight: 400;
}

.logo {
  font-family: "Clean Fragile";
}

/* styles.css or tailwind.css */

@font-face {
  font-family: "Clean Fragile";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: local("Rekalgera"), url("/fonts/Clean Fragile.otf") format("opentype");
}

@font-face {
  font-family: "BasisGrotesque";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: local("BasisGrotesque"),
    url("/fonts/BasisGrotesqueArabicPro-Regular.ttf") format("truetype");
}
